<!doctype html>
<html>
    <head>    
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154997230-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-154997230-1');
        </script>
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta description="Quickly connect services, API and IoT hardware
Create your workflows without coding and integrate cloud services, email, chat, e-commerce, ai and more." />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
       
    </head>
    <body>
        
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
        <script type="application/ld+json">
        {
          "@context" : "http://schema.org",
          "@type" : "Product",
          "name" : "Rodened editor",
          "image" : "https://www.rodened.com/images/ML.png",
          "description" : "Quickly connect services, API and IoT hardware.Create your workflows without coding and integrate cloud services, email, chat, e-commerce, ai and more with Rodened cloud based editor. Read more about all features and start building for free.",
          "brand" : {
            "@type" : "Brand",
            "logo" : "https://www.rodened.com/images/rodened_b2_300.png"
          },
          "offers" : {
            "@type" : "Offer",
            "price" : "Start for free, from $14/m"
          }
        }
        </script>
    </body> 
</html>
