<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">

      <div class="site-branding">
        {{ if .Site.Params.header.logo_img }}
        <p class="site-logo">
          <a href='{{ "/" | relURL }}'>
            <img src="{{ .Site.Params.header.logo_img | relURL }}" alt="Logo" />
          </a>
        </p><!-- .site-logo -->
        {{ end }}
        {{ if or (eq .Params.layout "landing") (eq .Params.layout "blog") }}
        <h1 class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></h1>
        {{ else }}
        <p class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></p>
        {{ end }}
      </div><!-- .site-branding -->

      {{ if and .Site.Menus.main .Site.Params.header.has_nav }}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span
              class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {{ range $item := .Site.Menus.main }}
            <li class="menu-item {{ if eq $.URL $item.URL }} current-menu-item{{ end }}">
              <a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
            </li>
            {{ end }}
            {{ if .Site.Params.header.menu.actions }}
              {{ range $action := .Site.Params.header.menu.actions }}
              <li class="menu-item menu-button">
                <a href="{{ $action.url | relURL }}" class="button">{{ $action.label }}</a>
              </li>
              {{ end }}
            {{ end }}
          </ul><!-- .menu -->
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu"
          aria-hidden="true"></span></button>
      {{ end }}

    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
                {{- if .Params.Plotly }}
            <!-- script src="https://cdn.plot.ly/plotly-1.50.0.min.js"></script -->
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {{- end }}
  
<!-- Start of Async Callbell Code -->
<script>
  window.callbellSettings = {
    token: "pYaAkTQ1NMa3S782Cz7LSYtj"
  };
</script>
<script>
  (function(){var w=window;var ic=w.callbell;if(typeof ic==="function"){ic('reattach_activator');ic('update',callbellSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Callbell=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://dash.callbell.eu/include/'+window.callbellSettings.token+'.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>
<!-- End of Async Callbell Code -->


  
            
</header><!-- .site-header -->
