<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">

      <div class="site-branding">
        {{ if .Site.Params.header.logo_img }}
        <p class="site-logo">
          <a href='{{ "/" | relURL }}'>
            <img src="{{ .Site.Params.header.logo_img | relURL }}" alt="Logo" />
          </a>
        </p><!-- .site-logo -->
        {{ end }}
        {{ if or (eq .Params.layout "landing") (eq .Params.layout "blog") }}
        <h1 class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></h1>
        {{ else }}
        <p class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></p>
        {{ end }}
      </div><!-- .site-branding -->

      {{ if and .Site.Menus.main .Site.Params.header.has_nav }}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span
              class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {{ range $item := .Site.Menus.main }}
            <li class="menu-item {{ if eq $.URL $item.URL }} current-menu-item{{ end }}">
              <a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
            </li>
            {{ end }}
            {{ if .Site.Params.header.menu.actions }}
              {{ range $action := .Site.Params.header.menu.actions }}
              <li class="menu-item menu-button">
                <a href="{{ $action.url | relURL }}" class="button">{{ $action.label }}</a>
              </li>
              {{ end }}
            {{ end }}
          </ul><!-- .menu -->
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu"
          aria-hidden="true"></span></button>
      {{ end }}

    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
                {{- if .Params.Plotly }}
            <!-- script src="https://cdn.plot.ly/plotly-1.50.0.min.js"></script -->
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  {{- end }}

  <script id="chatBroEmbedCode">
/* Chatbro Widget Embed Code Start */
function ChatbroLoader(chats,async){async=!1!==async;var params={embedChatsParameters:chats instanceof Array?chats:[chats],lang:navigator.language||navigator.userLanguage,needLoadCode:'undefined'==typeof Chatbro,embedParamsVersion:localStorage.embedParamsVersion,chatbroScriptVersion:localStorage.chatbroScriptVersion},xhr=new XMLHttpRequest;xhr.withCredentials=!0,xhr.onload=function(){eval(xhr.responseText)},xhr.onerror=function(){console.error('Chatbro loading error')},xhr.open('GET','//www.chatbro.com/embed.js?'+btoa(unescape(encodeURIComponent(JSON.stringify(params)))),async),xhr.send()}
/* Chatbro Widget Embed Code End */
ChatbroLoader({encodedChatId: '962V2'});
</script>
            
</header><!-- .site-header -->


